@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-base: 'Manrope', sans-serif;
    --color-black: #040c18;
    --color-orange: #ff4820;
    --color-white: #ffffff;
    --color-blue: #81afdd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font-base);
}

a {
    color: unset;
    text-decoration: none;
}
